* {
  overflow-x: hidden;
}
.sideNav {
  background-color: rgb(34, 34, 34);
  display: flex;
  flex-direction: column;
  color: white;
  width: 18vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
}
.sideNav > li {
  list-style: none;
  margin: 3px;
  overflow: hidden;
}
.sideNav > li > * {
  text-decoration: none;
  color: white;
}
.sideNav h3 {
  text-decoration: underline;
  overflow: hidden;
  margin-bottom: 34px;
  margin-top: 13px;
  font-weight: bold;
}
.container {
  border: 2px solid red;
}
.cards {
  height: 550px;
  border-radius: 12px;
  box-shadow: 1px 1px 12px 1px rgba(43, 42, 42, 0.575);
}

.main {
  position: absolute;
  width: 82vw;
  right: 0;
}
.hideScroll {
  overflow-y: hidden;
}
